* {
  margin: 0;
  padding: 0;
  font-family: Arial, Tahoma, Verdana;
}

a {
  color: #03a;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  position: fixed;
  @extend .zero;
  background: radial-gradient(rgba(0,0,0,.1) 10%, transparent 11%) 0 0;
  background-color: #fff;
  background-size: 10px 10px;
}

.zero {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section {
  position: absolute;      // required for dnd
  @extend .zero;
  height: 330px;
  width: 480px;
  margin: auto;
  background: #fff;
  border:solid 1px #ddd;
  padding: 2px;

  header {
    text-align: center;
    font-weight: bold;
    padding: 16px 0;

    h1 {
      font-size: 36px;
      line-height: 42px;
    }

    h2 {
      font-size: 12px;
      color: #777;
    }
  }

  .summary {
    background: #049;
    color: #fff;
    line-height: 26px;
    padding: 4px 14px;

    a {
      color: #fff;
      font-weight: bold;
    }
  }

  input[type=password] {
    display:block;
    width:300px;
    height:28px;
    font-size:22px;
    line-height:28px;
    left:0;
    right:0;
    margin: 20px auto 26px;
    padding:0 6px;
  }

  .btn {
    position: relative;
    background: #049;
    color: #fff;
    padding: 1px 4px;
    height: 54px;
    font-size: 22px;
    line-height: 54px;
    text-align: center;
    font-weight: bold;

    input[type=file] {
      display: block;
      position: absolute;
      @extend .zero;
      width: 100%;
      opacity: 0;
      cursor: pointer;
    }
  }

  footer {
    font-size: 12px;
    padding: 0 12px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .left {
      float: left;
    }

    .right {
      float: right;
      text-align: right;
    }
  }
}
